# Ignore files produced by the progrma
*.txt
*.csv

# Ignore any other temporary files, such as .pyc files
__pycache__/
*.pyc
*.pyo
myenv/

# Ignore testing data
testing_data/*.json

# Exceptions
!requirements.txt
